{
  "swagger": "2.0",
  "info": {
    "title": "Ruddur API",
    "version": "v1alpha1"
  },
  "tags": [
    {
      "name": "Projects"
    },
    {
      "name": "Machines"
    },
    {
      "name": "Clusters"
    },
    {
      "name": "VirtualMachines"
    }
  ],
  "host": "cloud.ruddur.dev",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/machines/available": {
      "get": {
        "operationId": "Machines_ListAvailable",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1alpha1AvailableMachinesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "Machines"
        ]
      }
    },
    "/v1/machines/types": {
      "get": {
        "operationId": "Machines_ListTypes",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1alpha1MachineTypesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "Machines"
        ]
      }
    },
    "/v1/projects": {
      "get": {
        "operationId": "Projects_List",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1alpha1ListProjectsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "Projects"
        ]
      },
      "post": {
        "operationId": "Projects_Create",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1alpha1CreateProjectRequest"
            }
          }
        ],
        "tags": [
          "Projects"
        ]
      }
    },
    "/v1/projects/{project}/authorize/{user}": {
      "post": {
        "operationId": "Projects_AuthorizeUser",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "project",
            "description": "Name of the project.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "user",
            "description": "User to authorize.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Projects"
        ]
      }
    },
    "/v1/projects/{project}/clusters": {
      "get": {
        "operationId": "Clusters_List",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1alpha1ListClustersResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Clusters"
        ]
      },
      "post": {
        "operationId": "Clusters_Create",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1alpha1CreateClusterResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "controlPlaneNodes": {
                  "$ref": "#/definitions/v1alpha1MachineTypeAndAmount"
                },
                "workerNodes": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/v1alpha1MachineTypeAndAmount"
                  }
                }
              }
            }
          }
        ],
        "tags": [
          "Clusters"
        ]
      }
    },
    "/v1/projects/{project}/clusters/{name}": {
      "delete": {
        "operationId": "Clusters_Delete",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1alpha1DeleteClusterResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Clusters"
        ]
      }
    },
    "/v1/projects/{project}/clusters/{name}/kubeconfig": {
      "get": {
        "operationId": "Clusters_Kubeconfig",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1alpha1KubeconfigResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Clusters"
        ]
      }
    },
    "/v1/projects/{project}/revoke/{user}": {
      "post": {
        "operationId": "Projects_RevokeUser",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "project",
            "description": "Name of the project.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "user",
            "description": "User to revoke.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Projects"
        ]
      }
    },
    "/v1/projects/{project}/vms": {
      "get": {
        "operationId": "VirtualMachines_List",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1alpha1ListVirtualMachinesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "VirtualMachines"
        ]
      },
      "post": {
        "operationId": "VirtualMachines_Create",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1alpha1CreateVirtualMachineResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "operatingSystem": {
                  "type": "string"
                },
                "machineType": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "tags": [
          "VirtualMachines"
        ]
      }
    },
    "/v1/projects/{project}/vms/{name}": {
      "delete": {
        "operationId": "VirtualMachines_Delete",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1alpha1DeleteVirtualMachineResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "VirtualMachines"
        ]
      }
    },
    "/v1/vms/operatingsystems": {
      "get": {
        "operationId": "VirtualMachines_ListOperatingSystems",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1alpha1VirtualMachineOperatingSystemsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "VirtualMachines"
        ]
      }
    },
    "/v1/vms/types": {
      "get": {
        "operationId": "VirtualMachines_ListTypes",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1alpha1VirtualMachineTypesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "VirtualMachines"
        ]
      }
    }
  },
  "definitions": {
    "protobufAny": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string"
        }
      },
      "additionalProperties": {}
    },
    "rpcStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    },
    "v1alpha1AvailableMachinesResponse": {
      "type": "object",
      "properties": {
        "machines": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1alpha1MachineTypeAndAmount"
          }
        }
      }
    },
    "v1alpha1Chunk": {
      "type": "object",
      "properties": {
        "chunk": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "v1alpha1Cluster": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "v1alpha1CreateClusterResponse": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "v1alpha1CreateProjectRequest": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the project."
        }
      }
    },
    "v1alpha1CreateVirtualMachineResponse": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "v1alpha1DeleteClusterResponse": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "v1alpha1DeleteVirtualMachineResponse": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "v1alpha1KubeconfigResponse": {
      "type": "object",
      "properties": {
        "kubeconfig": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "v1alpha1ListClustersResponse": {
      "type": "object",
      "properties": {
        "clusters": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1alpha1Cluster"
          }
        }
      }
    },
    "v1alpha1ListProjectsResponse": {
      "type": "object",
      "properties": {
        "name": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Names of the projects."
        }
      }
    },
    "v1alpha1ListVirtualMachinesResponse": {
      "type": "object",
      "properties": {
        "vms": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1alpha1VirtualMachine"
          }
        }
      }
    },
    "v1alpha1MachineTypeAndAmount": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string"
        },
        "amount": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "v1alpha1MachineTypesResponse": {
      "type": "object",
      "properties": {
        "types": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "v1alpha1VirtualMachine": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "status": {
          "type": "string"
        }
      }
    },
    "v1alpha1VirtualMachineOperatingSystemsResponse": {
      "type": "object",
      "properties": {
        "operatingSystems": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "v1alpha1VirtualMachineTypesResponse": {
      "type": "object",
      "properties": {
        "types": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    }
  }
}
